# NOTE: autoupdate does not pick up flake8-bugbear since it is a transitive
#  dependency. Make sure to update flake8-bugbear manually on a regular basis.
repos:
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.12.0
    hooks:
      - id: black
        language_version: python3
        exclude: versioneer.py|.*_vendored\/.*
        args:
          - --target-version=py38
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: 'v0.14.10'
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ".*_vendored\/.*"
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        files: \.py$
        args:
          - --license-filepath=LICENSE_HEADER
          - --use-current-year
          - --no-extra-eol
          - --detect-license-in-X-top-lines=5
        exclude: ".*_vendored\/.*"
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.19.1'
    hooks:
    - id: mypy
      exclude: "examples|venv|ci|docs|.*_vendored\/.*"
      additional_dependencies: [types-pyyaml>=6.0, types-cachetools]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
    -   id: pyupgrade
        args: [--py39-plus]
        exclude: ".*_vendored\/.*"
