# NOTE: autoupdate does not pick up flake8-bugbear since it is a transitive
#  dependency. Make sure to update flake8-bugbear manually on a regular basis.
repos:
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        language_version: python3
        exclude: versioneer.py
        args:
          - --target-version=py38
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: 'v0.1.6'
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]