name: "Test"
on:
  pull_request:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 45
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
        kubernetes-version: ["1.28.0"]
        include:
          - python-version: '3.10'
            kubernetes-version: 1.27.3
          - python-version: '3.10'
            kubernetes-version: 1.26.6
    env:
      KUBECONFIG: .pytest-kind/pytest-kind/kubeconfig

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install hatch
        run: pipx install hatch
      - name: Run tests
        env:
          KUBERNETES_VERSION: ${{ matrix.kubernetes-version }}
        run: hatch run test:run
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
      - name: Debug k8s resources
        if: always()
        run: kubectl get all -A
