name: "Test kr8s"
on:
  pull_request:
    paths:
      - ".github/workflows/test-kr8s.yaml"
      - "kr8s/**"
      - "./pyproject.toml"
  push:
    paths:
      - ".github/workflows/test-kr8s.yaml"
      - "kr8s/**"
      - "./pyproject.toml"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 45
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12"]
        kubernetes-version: ["1.31.0"]
        include:
          - python-version: '3.10'
            kubernetes-version: 1.30.4
          - python-version: '3.10'
            kubernetes-version: 1.29.8
          - python-version: '3.10'
            kubernetes-version: 1.28.13
    env:
      KUBECONFIG: .pytest-kind/pytest-kind/kubeconfig

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install hatch
        run: pip install hatch
      - name: Run tests
        env:
          KUBERNETES_VERSION: ${{ matrix.kubernetes-version }}
        run: hatch run test:run
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      - name: Debug k8s resources
        if: always()
        run: kubectl get all -A
