name: "Test kubectl-ng"
on:
  pull_request:
    paths:
      - ".github/workflows/test-kubectl-ng.yaml"
      - "examples/kubectl-ng/**"
  push:
    paths:
      - ".github/workflows/test-kubectl-ng.yaml"
      - "examples/kubectl-ng/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 45
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12"]
        kubernetes-version: ["1.31.0"]
        include:
          - python-version: '3.10'
            kubernetes-version: 1.30.4
          - python-version: '3.10'
            kubernetes-version: 1.29.8
          - python-version: '3.10'
            kubernetes-version: 1.28.13
    env:
      KUBECONFIG: .pytest-kind/pytest-kind/kubeconfig

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true
      - name: Install kubectl-ng, dev version of kr8s and testing dependencies
        run: |
          pushd examples/kubectl-ng
          poetry install --with test
          popd
          source examples/kubectl-ng/.venv/bin/activate
          pip install .
      - name: Run tests
        env:
          KUBERNETES_VERSION: ${{ matrix.kubernetes-version }}
        run: |
          source examples/kubectl-ng/.venv/bin/activate
          pytest examples/kubectl-ng
      - name: Debug k8s resources
        if: always()
        run: |
          cat ${KUBECONFIG}
          kubectl get all -A
